.topmost{
    background-color: #000000;
    padding: 35px;
}

.learnmore{
        height: 4.5rem;
        width: 150px;
        background-color: #000000;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 4rem;
        margin-bottom: 70px;
        margin-left: 80px;
        border-radius: 20px;
    }
.lean{
    color: #1DCD8D;
    font-weight: 900;
}


.first-container{
    background-color:#02C37E;

}

.Exp{
    margin-top: 10px;
    font-family: 'sacramento' cursive;
    font-size: 100px;
    color:  #030303;
    line-height: 1;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 70px;
    font-weight: 900;
}

.DanFx{
    font-size: 20px;
    font-weight: 1000;
    color: #F4F4F4;
    padding-top: 100px;
    padding-left: 100px;
}

.learn{
    color: whitesmoke;
    font-weight: 500;
    padding-left: 80px;
    padding-bottom: 40px;
    font-size: 25px;
}


.second-container{
    background-color: #D9D9D9;
    text-align: center;
}

.intro{
    padding-top: 80px;
    width: 40%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}

.third-container{
    background-color: #1A2529;
    margin: 0;
}

.our{
    color: #02C37E;
    padding-left: 55px;
    font-size: 65px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 30px;
    font-family: 'sacramento' cursive;
    line-height: 1;
}

.we{
    color: #F4F4F4;
    padding-left: 60px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 140px;
    padding-top: 0px;
    line-height: 1;
}



.one{
    padding:50px;
    border:2px solidblack;
    background-color: lavender;
}

.fifth-container{
    background-color: white;
    margin: 0;
}

.firstimage{
    width: 18%;
    padding-top: 50px;
    padding-bottom: 90px;
}

.aboutthe{
    font-size: 15px;
    padding-bottom: 30px;
}

.business-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 2rem;
    padding-bottom: 150px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .pricing-plan {
    flex: 1;
    max-width: 5;
    padding: 20px;
    background-color: #263237;
    border-radius: 25px;
    text-align: center;
  }

  .plan-title {
    font-size: 30px;
    font-weight: bold;
    color: #02C37E;
    text-align: left;
  }


  .inline-text{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .plan-features{
    margin-bottom: 20px;
    font-size: 19px;
    text-align: left;
    font-weight: 300;
    color: white;
  }

  .plan-button {
    padding: 10px;
    background-color: #1DCD8D;
    color: #fff;
    border-radius: 20px;
    border: none;
  }

  @media (max-width: 1250px) {
    .business-info {
      flex-direction: column;
      height: 100%;
    }
  }


.fourth-container{
    background-color: #E8FFF7;
}

.business-infoo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    gap: 2rem;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.main-titlee{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #02C37E;
    text-align: left;
    font-weight: bold;
}

.plan-featuress{
    margin-bottom: 20px;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
}

.pricing-plann {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #e7edf0;
    border-radius: 10px;
    text-align: center;
  }

.ourr {
    color: #02C37E;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 150px;
    font-family: 'sacramento' cursive;
    line-height: 1;
    margin: auto;
    text-align: center;
}



.plan-buttonn {
    padding: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #979fa1;
    text-align: center;
  }

.pricing-plannn {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #e7edf0;
    border-radius: 60px;
    text-align: center;
  }

  .plan-featuresss{
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 545;
}

.sixth-container{
 background-color: #fff;   
}


.femi{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.femii{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 300px;
}


.seventh-container{
    background-color: black;
}

.contactus{
    text-align: right;
    color: #E8FFF7;
    font-size: 50px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.PHO{
    text-align: left;
    font-size: 25px;
    color: #02C37E;
    padding-left: 960px;
    font-weight: 700px;
}

.numbb{
    text-align: right;
    font-size: 20px;
    padding-bottom: 30px;
    padding-right: 160px;
    color: #e7edf0;
    font-weight: 20px;
}

.numb{
    text-align: right;
    font-size: 20px;
    padding-bottom: 30px;
    padding-right: 225px;
    color: #e7edf0;
    font-weight: 20px;
}

.SOC{
    text-align: left;
    font-size: 25px;
    color: #02C37E;
    padding-left: 960px;
    font-weight: 700px;
    padding-bottom: 200px;
}

.last-container{
    background-color: #0c0b0b;
    padding: 10px 0 10px;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    text-align: center;
    font-family: 'merriweather' serif;
}
